<h1>Burgers shop</h1>

<main>
    <div class="container">
        <div class = "row">
            <div class= "col 6">

  {{#each burgers}}
    {{#unless this.devour}}
       <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class="EatBurger"> {{this.burgers_name}}</button>
              </form>
            </div>
    {{/unless}}
  {{/each}}
  </div>

</div>
<h2>Burgers devoured!</h2>
    <div class = "col 6">
<ul>
  {{#each burgers}}
    {{#if devour}}
     <div class="DevouredBurgers">
              <div>
    {{/if}}
  {{/each}}
</ul>
</div>
    </div>
</main>
<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burgers Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devour">devour</label><br>
    <input type="radio" name="sleepy" value="1" checked> devoured<br>
    <input type="radio" name="sleepy" value="0"> not devoured
  </div>

  <button type="submit">Add burger</button>
</form>
